$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default
$display-font-family: "Epilogue", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default

    
*
    font-family: $body-font-family

h1
    font-family: $display-font-family
    font-size: 2em

h2
    font-family: $body-font-family
    font-size: 30pt
    line-height: 36pt
    margin-bottom: 10pt

h3
    font-family: $body-font-family
    font-size: 20pt
    line-height: 24pt
    font-weight: bold

h4
    font-family: $body-font-family
    font-size: 12pt
    margin-top: 20pt
    margin-bottom: 10pt
    line-height: 14pt
    font-weight: semi-bold

p
    font-size: 9pt
    line-height: 15pt
    a
        text-decoration: none
        color: black

i
    font-style: italic
    font-size: 18pt
    line-height: 18pt
    margin: 0

.cover,
.back
    margin: 0
    img
        width: 100%

#back
    page: back

.blank
    break-before: right
    
.intro
    break-before: right

.chapter
    break-before: left
    &__illustration
        margin-top: 30pt
        width: 200pt
        display: block
        margin: 30pt auto
    h2
        break-before: right
    h4
        break-before: always

.definitions
    break-before: right
    .definition
        break-inside: avoid
        h3
            margin-top: 20pt
            margin-bottom: 5pt
        p
            margin-top: 0

.last-page
    break-before: right