@media print

    #list-toc-generated
        padding: 0
        padding-top: 10pt
        list-style: none
        font-size: 9pt
        overflow-x: hidden

        .toc-element 
            display: flex 

            &::after
                content: "................................................................................................................................................."
                float: left
                width: 0
                padding-left: 3pt
                letter-spacing: 3pt

            a
                color: black
                text-decoration: none
                
                span
                    position: absolute
                    background: white
                    padding-left: 3pt
                    right: 0

        .toc-element-level-1
            margin-top: 10pt
            font-weight: bold

        .toc-element-level-2
            margin-left: 10pt


        /* counters */  
        counter-reset: counterTocLevel1

        .toc-element-level-1 
            counter-increment: counterTocLevel1 
            counter-reset: counterTocLevel2 
            counter-reset: counterTocLevel3 

            &::before 
                content: counter(counterTocLevel1) ". "
                padding-right: 5pt

        .toc-element-level-2 
            counter-increment: counterTocLevel2 
            counter-reset: counterTocLevel3 

            &::before 
                content: counter(counterTocLevel1) "." counter(counterTocLevel2) "."
                padding-right: 5pt