{{ $direction := "" }}
{{ $breadcrumb_is_after_hero := eq site.Params.breadcrumb.position "after-hero" }}
{{ $display_breadcrumb := .breadcrumb | default true }}
{{ $subtitle := .subtitle }}
{{ $description := .description }}
{{ if .image }}
{{ $direction = partial "commons/image/helpers/GetDirection" .image }}
{{ end }}

{{ $summary := .context.Params.summary | safeHTML }}
{{ $subtitle_is_summary := false }}

{{ $button := .button | default .context.Params.header_cta }}

{{ if not $subtitle }}
{{ if and (eq site.Params.summary.position "hero") $summary }}
{{ $subtitle = $summary }}
{{ $subtitle_is_summary = true }}
{{ end }}
{{ end }}



<header
  class="hero {{ if .image }}hero--with-image hero--image-{{- $direction }}{{ end }} {{ if $breadcrumb_is_after_hero }} hero--no-margin {{ end }}">
  {{ if not .image }}

  <div class="hero-top-container">
    <div class="cross-names">
      <img src="/assets/images/icons/cross.svg" alt="cross icon" width="15px">
      <div class="grid-full">
        <div class="grid-name">
          <span>alexandru Coralie</span><span>DAGUET-KARGL SIMON</span><span>GUILLAUME EMMA</span><span>LEFORESTIER
            LOIC</span><span>LEMENnICIER NAELLE</span><span>MARCHAnd matthieu</span>
        </div>
        <div class="last-names-flex">
          <span>NAGO JASON</span><span>NGUYEN Phuc</span><span>PROUST ARTHAUD</span>
        </div>
      </div>
    </div>
  </div>
  {{ end }}

  {{ if .hero_complement }}
  {{ partial .hero_complement .context }}
  {{ end }}

  {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-end") }}
  <div class="container breadcrumb-container">
    {{ partial "header/breadcrumbs.html" .context }}
  </div>
  {{ end }}
</header>
{{ if not .image }}
<img class="bg-image-default" src="/assets/images/hero.webp" alt="image par défaut">
{{ else }}
  {{ $media := partial "GetMedia" .image.id }}
   <img class="bg-image-custom" src="{{ $media.url }}">
{{ end }}

{{ if not .image }}
<div class="title-default">
  <div class="title-flex">
    <div id="not-flex">
      <p>Nous n’avons pas</p>
    </div>
    <h1>NUMÉRISÉ.
    </h1>
  </div>
</div>
{{ else }}
<div class="title-custom ">
  <div class="title-flex">
    <h1>{{.title}}</h1>
  </div>
</div>
{{ end }}
{{ if and $display_breadcrumb $breadcrumb_is_after_hero }}
<div class="container breadcrumb-container">
  {{ partial "header/breadcrumbs.html" .context }}
</div>
{{ end }}


<div class="container">
  {{ if and $display_breadcrumb (eq site.Params.breadcrumb.position "hero-start") }}
  {{ partial "header/breadcrumbs.html" .context }}
  {{ end }}
</div>
