<section class="chapter">
  <h2>
    {{ .Title }}
    {{ with .Params.header_text }}
    : {{ .}}
    {{ end }}
  </h2>

  {{ range .Params.contents }}
    {{ if eq .kind "heading" }}
      <h3> {{ .title }}</h3>
    {{ end }}

    {{ if eq .template "chapter" }}
      {{ with .title }}
        <h4>{{ . }}</h4>
      {{ end}}
      {{ partial "PrepareHTML" .data.text }}
    {{ end }}

    {{ if eq .template "image" }}
      <div class="image">
        {{ $media := partial "GetMedia" .data.image.id }}
        <img src="{{ $media.url }}">

        {{ with .data.text }}
          {{ partial "PrepareHTML" . }}
        {{ end }}
      </div>
    {{ end }}

    {{ if eq .template "datatable" }}
      {{ partial "blocks/templates/datatable.html" (dict "block" .) }}
    {{ end }}
  {{ end }}
</section>