<!-- {{ $primary := partial "GetMenu" "primary" }}

<header id="document-header">
  <nav aria-label="{{ i18n "commons.menu.main" }}">
    <div class="container">
        <div class="menu" id="navigation">
          <p>ALEXANDRU CORALIE</p>
          <p>DAGUET-KARGL SIMON</p>
          <p>GUILLAUME EMMA</p>
          <p>LEFORESTIER LOIC</p>
          <p>LEMENNICIER NAELLE</p>
          <p>MARCHAND MATTHIEU</p>
          <p>NAGO JASON</p>
          <p>NGUYEN PHUC</p>
          <p>PROUST ARTHAUD</p>
        </div>
    </div>
  </nav>
</header> -->